@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');


$fontFamily1: 'Edu NSW ACT Foundation',
cursive;
$fontFamily2: 'Cookie',
cursive;

$color1:#06aed5;
$color2 :#086788;
$color3: #f2f4f3;
$color4: #f0c808;
$colorFont: #436e53;
$white: #fff;
$black: #000;
$spacing: .1rem;
$transition: all 0.3s linear;

